body
{
  background-color: black;
}

h1
{
  color: gold;
}

h2
{
  color:gold
}

p
{
  color: Cyan;
}

ol
{
  color: red;
}

ul
{
  color: blueviolet;
}

hr
{
  size: 8;
  width: 100%;
  color:white;
  justify-self: unset;
}

button
{
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  width:50%;
  color:white;
  background-color: black;
  outline: auto;
  outline-color: white;
  outline-width: 8;
  outline-style: groove;
}
a:link
{
 color: white;
 text-decoration: none;
}
a:hover
{
  color: cyan;
  text-decoration:solid
}
a:visited
{
  color:grey;
  text-decoration: line-through;
}
a:active
{
  color:black;
  text-decoration: none;
}
